@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
      background-color: #2b2b2b;
      color: #e0e0e0;
      padding: 20px;
}
.not-empty {
    box-shadow: 0px 0px 7px 2px rgb(62 142 65 / 60%) !important;
}
    h1{
        text-align: center;
        font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    }
    *:focus {
        outline: none;
    }
    form {
        display: flex;
        align-items: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        gap: 15px;
        padding: 5% 10%;
        background-color: #333333;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-size: 14px;
      color: #e0e0e0;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    input[type="date"],
    input[type="number"],
    textarea,
    select {
        transition: all 0.5s ease;
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="url"]:focus,
    input[type="date"]:focus,
    input[type="number"]:focus,
    textarea:focus,
    select:focus{
        box-shadow: 0px 0px 7px 2px rgba(255, 196, 0, 0.63) !important;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="url"],
    input[type="date"],
    input[type="number"],
    textarea,
    select {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #444444;
      color: #e0e0e0;
      font-size: 14px;
      box-shadow: 0px 0px 11px 4px rgb(0 0 0 / 22%);
    }

    input[type="submit"] {
      grid-column: 1 / span 2;
      margin-top: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #4CAF50;
      color: #e0e0e0;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    input[type="submit"]:hover {
      background-color: #3e8e41;
    }

    .two-lines {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    
    @media (max-width: 768px) {
      form {
        grid-template-columns: 1fr;
      }
    }
